[submodule "Assets/ThirdParty/object-pooling"]
	path = Assets/ThirdParty/object-pooling
	url = https://github.com/laurenlizardo/object-pooling
[submodule "Assets/ThirdParty/wave-spawning"]
	path = Assets/ThirdParty/wave-spawning
	url = https://github.com/laurenlizardo/wave-spawning
[submodule "Assets/ThirdParty/observer-pattern"]
	path = Assets/ThirdParty/observer-pattern
	url = https://github.com/laurenlizardo/observer-pattern.git
